button,
input[type="submit"],
.btn {
    padding: 0.5rem 2rem !important;
    background: rgb(0, 0, 0, 0.4) !important;
    border: 0.5px solid rgb(220,220,220) !important;
    border-radius: 1rem !important;
    cursor: pointer !important;
    transition: all 0.3s ease 0s;
}

button:disabled,
input[type="submit"]:disabled {
    opacity: 0.6 !important;
    color: rgba(255, 255, 255, 0.539);
}

button:disabled:hover,
input[type="submit"]:disabled:hover {
    cursor: default !important;
}

button:hover,
input[type="submit"]:hover {
    background: rgba(43, 40, 88, 0.4);
    opacity: 0.6 !important;
}
